nav {
  position: fixed;
  display: grid;
  top: 0;
  background-color: #fff;
  padding: 5px;
  height: 3.3em;
  line-height: 3.3em;
  width: 100%;
  border-bottom: 0.1em solid #dbdbdb;
  grid-template-columns: 2fr 1.5fr 1fr 0.8fr;
}

.logo {
  text-decoration: none;
}

.logo > img {
  vertical-align: middle;
}

.search {
  background: #fafafa;
  height: 2.5em;
  margin: 0.5em;
  width: 18.5em;
  border: 0.07em solid #dbdbdb;
  border-radius: 0.5em;
}

.search::placeholder {
  text-align: center;
  color: #808080;
  padding-left: 15px;
}

.nav-links {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.nav-links i {
  transform: scale(1.8);
  color: #252525;
}
